* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 10em;
    font-family: 'Zen Dots', cursive;
}

.fondo {
    width: 130em;
    height:auto;
    margin: auto;
    padding: 8em 2em 8em 2em;
    background-image: url(../img/pexels-jess-bailey-designs-1007025.jpg);
    background-size:cover;
}

.Calculadora{
    width: 35em;
    height: 45em;
    margin: auto;
    background-color: darkseagreen;
    border-radius: 3em;
    padding: 4.5em;
    -webkit-box-shadow: -9px 10px 12px 0px rgba(101,186,156,1);
    -moz-box-shadow: -9px 10px 12px 0px rgba(101,186,156,1);
    box-shadow: -9px 10px 12px 0px rgba(101,186,156,1);
    transform: rotate(5grad)
       
}

h1 {
    margin-left: 3em;
}

.n {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
}



#n1, #n2 {
    width: 5.5em;
    height: 2.1em;
    margin-left: 0.3em;
    text-align: center;
    border-radius: 1em;
    border: 0;
    font-size: 2em;
}
#n2 {
    margin-left: 1em;
}

#btn-s {
    width: 10em;
    height: 5em;
    border: 0;
    border-radius: 0.3em;
    margin: 2em;
    margin-top: 3em;
}

#btn-s:hover {
    background-color: darkcyan;
    transition: 0.3s;
}

#btn-r {
    width: 10em;
    height: 5em;
    border: 0;
    border-radius: 0.3em;
    margin: 0em 0em 2em 3em;
}

#btn-r:hover {
    background-color: darkcyan;
    transition: 0.3s;
}

#btn-d {
    width: 10em;
    height: 5em;
    border: 0;
    border-radius: 0.3em;
    margin: 2em;
    margin-top: 0em;
}

#btn-d:hover {
    background-color: darkcyan;
    transition: 0.3s;
}

#btn-m {
    width: 10em;
    height: 5em;
    border: 0;
    border-radius: 0.3em;
    margin: 0em 0em 2em 3em;
}

#btn-m:hover {
    background-color: darkcyan;
    transition: 0.3s;
}

.dcresults {
    width: 20em;
    height: 3em;
    background-color: white;
    margin: auto;
    margin-top: 3em;
    padding: 1em 1em 1em 2em;
    border-radius: 2em;
}

#btn-rr {
    width: 15em;
    height: 2em;
    border: 0;
    border-radius: 0.3em;
    margin: 3em 0em 0em 8em;
}

#btn-rr:hover {
    background-color: darkcyan;
    transition: 0.3s;
}
